<%= stylesheet_link_tag 'video' %>

<div id="content-container" class="container">
	<div class="row">

		<div class="col-md-8"> <!--playing video-->
			<div class="main-video">
				<iframe width="700" height="400" src="https://www.youtube.com/embed/sqBhbAQyx-w" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="information">
				<img src="http://placehold.it/700x200">
			</div>
		</div>

		<div class="col-md-4"><!--right list-->
			<div class="others_1">
				<img src="http://placehold.it/300x200">
			</div>
			<div class="others_2">
				<img src="http://placehold.it/300x200">
			</div>
			<div class="others_3">
				<img src="http://placehold.it/300x200">
			</div>
		</div>

	</div>
</div>
